.conteneur_ensemble_card{
    /*width: 100%;*/
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.conteneur_card{
    width: 27%;
    padding: 3%;
}

.lien_card{
    width: 100%;
    /*background-color: grey;*/
    color: white;
    position: relative;
}
.lien_card:visited{
    color: white;
}

.image_card{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.texte_card{
    width: 50%;
    position: absolute;
    bottom: 3%;
    left: 5%;
}

@media all and (max-width: 767px) {
    .conteneur_card{
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .conteneur_ensemble_card{
        background-color: white;
    }
}