.conteneur_collapse_titre{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FF6060;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    border-radius: 7px;
    z-index: 10;
    position: relative;
}

.conteneur_collapse_texte{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #F6F6F6;
    color: #FF6060;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-top: 1%;
    border-radius: 7px;
    margin-top: -1%;
    z-index: 1;
}

.conteneur_collapse_texte div{
    margin-bottom: 2%;
    margin-top: 3%;
}


button{
    color: white;
    background-color: #FF6060;
    border: none;
}

.conteneur_collapse_titre{
    width:100%;
    
}

.conteneur_collapse_texte{
    width:100%;
}

.conteneur_ensemble_titre_texte{
    width: 45%;
}

ul{
    list-style-type: none;
}

@media all and (max-width: 767px) {
    .conteneur_collapse_titre{
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 4%;
    }

    .conteneur_collapse_texte div{
        margin-bottom: 15%;
        margin-top: 5%;
    }

    .conteneur_ensemble_titre_texte{
        width: 100%;
    }
    
}