.conteneur_erreur{
    color: #FF6060;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneur_erreur h1{
    font-size: 1000%;
    margin-bottom: 2%;
}

.conteneur_erreur p{
    margin-bottom: 15%;
}

.conteneur_erreur a{
    padding-bottom: 8%;
}

.conteneur_erreur a:visited{
    color: #FF6060;
}

@media all and (max-width: 767px) {
    .conteneur_erreur p{
        width: 47%;
        margin-bottom: 25%;
    }

    .conteneur_erreur h1{
        font-size: 700%;
        margin-bottom: 0%;
    }
}