.conteneur_ensemble{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
}

.conteneur_ligne_1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.conteneur_ligne_1 div h1{
    color: #FF6060;
}

.conteneur_nom_et_photo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.conteneur_nom_et_photo img{
    width: 30%;
    border-radius: 40px;
}

.conteneur_nom_et_photo p{
    width: 30%;
    color: #FF6060;
}


.conteneur_ligne_2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: #FF6060;
}

.conteneur_ligne_3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.conteneur_tags{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    
    
    
}

.conteneur_tags p{
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.container_collapse_logement{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

/*.conteneur_ensemble_titre_texte{
    width: 45%;
}*/

.conteneur_titre_texte{
    width:50%;
}

.conteneur_tags p{
    /*flex-wrap: wrap;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteneur_collapse_titre{
    margin-left: 0%;
    margin-right: 0%;
}

.conteneur_collapse_texte{
    margin-left: 0%;
    margin-right: 0%;
}


@media all and (max-width: 767px) {
    .conteneur_image_etoile img{
        width:13%;
        margin-bottom: 10%;
        margin-top: 8%;
    }

    .conteneur_ligne_1{
        flex-direction: column;
    }

    .conteneur_ligne_1 h1{
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .conteneur_ligne_2 p{
        margin-top: 1%;
        margin-bottom: 0%;
    }

    .conteneur_ligne_3{
        flex-direction: column;
        align-items: flex-start;
    }

    .conteneur_nom_et_photo{
        width: 50%;
        position: absolute;
        bottom: 6%;
        right: 8%;
    }

    .conteneur_tags{
        /*flex-wrap: wrap;*/
        width: 35%;
    }

    .container_collapse_logement{
        flex-direction: column;
    }

    .conteneur_ensemble_titre_texte{
        width: auto;
        margin-bottom: 4%;
    }

    .conteneur_collapse_texte div{
        margin-bottom: 3%;
    }
    
}